.blog {
  height: 100vh;
  background-color: #101010;
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 2.1fr;
  grid-template-rows: 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "c1 c2 c3";
  padding-top: 12rem;
}

.aside-blog {
  grid-area: c1;
}

.image-blog {
  grid-area: c2;
}

.main-blog {
  grid-area: c3;
  display: flex;
  flex-direction: column;
  margin: 0 7rem 0 0;
  p {
    color: #ececec65;
    margin: 1rem 0 2rem 0;
  }
}

.blog-divider {
  height: 5px;
  width: 60px;
  background-color: #ececec;
  margin: 1.5rem 0;
}

.blog-container {
  display: flex;
  flex-direction: row;
  min-width: 30rem;
  height: 20rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .blog-post {
    display: flex;
    flex-direction: column;
    color: #ececec;
    height: 13rem;
    width: 15rem;
    background: #69696920;
    border-bottom: #ececec 2px solid;
    //box-shadow: 1px 1px 5px 1px #00000070;
    padding: 0 0.75rem 0.75rem 0.75rem;
    justify-content: flex-end;
    .blog-text {
      display: flex;
      flex-direction: column;
      z-index: 10;
      min-height: 5rem;
      width: auto;
      h2 {
        font-weight: 300;
      }
      a {
        font-size: 1.5rem;
        color: #ececec;
        text-decoration: none;
        font-weight: 300;
      }
      p {
        margin: 0;
        color: #ececec65;
      }
    }
  }
}
