//colors change page
.color-change-1 {
  color: #212121;
  transition: all ease-in 0.5s;
  .hamburger-react div div {
    color: #212121;
    transition: all ease-in 0.5s;
  }
  ul li button {
    transition: all ease-in 0.5s;
    color: #212121;
  }
  .divider-nav {
    transition: all ease-in 0.5s;
    background-color: #212121 !important;
  }
  .pagination-line {
    transition: all ease-in 0.5s;
    background-color: #212121;
  }
  .pagination-line-active-1 {
    transition: all ease-in 0.5s;
    opacity: 100% !important;
  }
  .pagination-line-active-2 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-3 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-4 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-5 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .music {
    svg {
      color: #212121;
    }
  }
}
.color-change-2 {
  transition: all ease-in 0.5s;
  color: #ececec;
  .hamburger-react div div {
    color: #ececec;
    transition: all ease-in 0.5s;
  }
  ul li button {
    transition: all ease-in 0.5s;
    color: #ececec;
  }
  .divider-nav {
    transition: all ease-in 0.5s;
    background-color: #ececec !important;
  }
  .pagination-line {
    transition: all ease-in 0.5s;
    background-color: #ececec;
  }
  .pagination-line-active-1 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-2 {
    transition: all ease-in 0.5s;
    opacity: 100% !important;
  }
  .pagination-line-active-3 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-4 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-5 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .music {
    svg {
      color: #ececec;
    }
  }
}
.color-change-3 {
  color: #101010;
  transition: all ease-in 0.5s;
  .hamburger-react div div {
    color: #101010;
    transition: all ease-in 0.5s;
  }
  ul li button {
    color: #101010;
    transition: all ease-in 0.5s;
  }
  .divider-nav {
    background-color: #101010 !important;
    transition: all ease-in 0.5s;
  }
  .pagination-line {
    background-color: #101010;
    transition: all ease-in 0.5s;
  }
  .pagination-line-active-1 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-2 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-3 {
    transition: all ease-in 0.5s;
    opacity: 100% !important;
  }
  .pagination-line-active-4 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-5 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .music {
    svg {
      color: #101010;
    }
  }
}
.color-change-4 {
  color: #f1f1f1;
  transition: all ease-in 0.5s;
  .hamburger-react div div {
    color: #f1f1f1;
    transition: all ease-in 0.5s;
  }
  ul li button {
    color: #f1f1f1;
    transition: all ease-in 0.5s;
  }
  .divider-nav {
    background-color: #f1f1f1 !important;
    transition: all ease-in 0.5s;
  }
  .pagination-line {
    background-color: #f1f1f1;
    transition: all ease-in 0.5s;
  }
  .pagination-line-active-1 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-2 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-3 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-4 {
    transition: all ease-in 0.5s;
    opacity: 100% !important;
  }
  .pagination-line-active-5 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .music {
    svg {
      color: #f1f1f1;
    }
  }
}
.color-change-5 {
  color: #212121;
  transition: all ease-in 0.5s;
  .hamburger-react div div {
    color: #212121;
    transition: all ease-in 0.5s;
  }
  ul li button {
    color: #212121;
    transition: all ease-in 0.5s;
  }
  .divider-nav {
    background-color: #212121 !important;
    transition: all ease-in 0.5s;
  }
  .pagination-line {
    background-color: #212121;
    transition: all ease-in 0.5s;
  }
  .pagination-line-action-5 {
    opacity: 20% !important;
  }
  .pagination-line-active-2 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-3 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-4 {
    transition: all ease-in 0.5s;
    opacity: 20% !important;
  }
  .pagination-line-active-5 {
    transition: all ease-in 0.5s;
    opacity: 100% !important;
  }
  .music {
    svg {
      color: #212121;
    }
  }
}
